.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: 70%;
  transition: opacity 1.5s linear;
}
