.khan__book-link {
  text-decoration: none;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  color: #2f80ed;
  margin: 0;
  padding: 0;
  min-height: 42px;
}

.khan__book-link:hover {
  opacity: 70%;
  transition: opacity 1.5s linear;
}
