.resources__logo-zone {
  width: 1100px;
  display: flex;
  margin: 80px auto 0 auto;
  justify-content: center;
<<<<<<< HEAD
  list-style: none;
=======
>>>>>>> c1f6cbc442672c645dd170bdf189b4aa79200bc0
}
